html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}



















html{
    background-color: rgb(205, 207, 206);
    font-family: arial, sans-serif;
}
body {
 margin: 0 auto;
 line-height: 1;
 background-image: url(./img/hollywood.jpg);
 background-size: cover;
 background-attachment: fixed;
 background-repeat: no-repeat;
 color: rgba(255, 255, 255, 0.8);
}

.post{
    border: 2px solid rgb(255, 255, 255);
    width: 500px;
    margin: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    box-sizing: border-box;

}
h1{
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: rgb(177, 31, 31);
    font-weight: bold;
    font-size: 40px;
    padding-bottom: 2%;
}
 h2{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
}
.photo{
    margin-left:  auto;
    margin-right: auto;
    padding: 15px 0px 15px 0px;
}
.photo img {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto
}
.photo p {
    padding: 15px;
    font-size: 18px;
    color: white;

}
.postDetails{
    width: 100%;
    background-color: rgba(205, 207, 206, 0.2);
    padding-bottom: 50px;
}
.delete{
    width: 80px;
    height: 40px;
    float: right;
    margin:0;
    padding: 0;

}
.back{
    width: 200px;
    height: 100px;
    float: left;
    color: rgba(255, 255, 255, 0.8);
    background-color:transparent;
}
.postDetails button{
    margin: 20px;
    width: 100px;
    height: 40px;
    font-size: 20px;
    border: 2px solid rgb(29, 112, 50);
    border-radius: 3px;
    white-space: 2px;
    background-color: transparent;

}
.delete button{
    width: 70px;
    height: 35px;
    font-size: 16px;
    border: 2px solid rgb(29, 112, 50);
    border-radius: 3px;
    margin: 0 0 0 20px;
    white-space: 2px;
    background-color: rgb(247, 231, 231);
}
.delete button:hover{
    color: rgb(177, 31, 31);
    border: 2px solid rgb(177, 31, 31);
    cursor: pointer;
}
.edit{
    width: 80px;
    height: 40px;
    float: right;
}
.edit button{
    margin: 0;
    width: 80px;
    height: 35px;
    font-size: 16px;
    border: 2px solid rgb(29, 112, 50);
    border-radius: 3px;
    float :right;
    white-space: 2px;
    background-color: rgb(247, 231, 231);
}
.edit button:hover{
    color: rgb(177, 31, 31);
    cursor: pointer;
}
#addComment{
    margin: 0 20px 0 0;
    width: 150px;
    height: 35px;
    font-size: 16px;
    border: 2px solid rgb(29, 112, 50);
    border-radius: 3px;
    white-space: 2px;
    background-color: rgb(247, 231, 231);
    float: right;
}
.addComment label{
    color: rgba(255, 255, 255, 0.8);
}
#addComment:hover{
    color: rgb(177, 31, 31);
    border: 2px solid rgb(177, 31, 31);
    cursor: pointer;
}
.addPost {
    width: 140px;
    height: 40px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    border: 2px solid rgb(29, 112, 50);
    border-radius: 3px;
    float: inherit;
    white-space: 2px;
    background-color:transparent;
    float: right;
    margin-right: 30px;
    margin-top: 30px;
    transition: .3s;
}
.addPost:hover{
    width: 160px;
    color: rgb(177, 31, 31);
    cursor: pointer;   
}
.deleteAll{
    width: 100%;
    display: flow-root;
    
}
.deleteAll label {
    margin-top: 20px;
    margin-right: 20px;
    font-size: 20px;
    color: rgb(29, 112, 50);
    float: right;
    transition: .3s;
}
.deleteAll input{
    margin-left: 45%;
   height: 20px;
   width: 20px;
   border: 2px solid rgb(29, 112, 50);
   display: flex;

}
.deleteAll label:hover{
    color: rgb(177, 31, 31);
    cursor: pointer;   
}
.deleteAll input:hover{
    transform: scale(1.2);
}
.wrap{
    padding: 50px;
    
}
.newPost{
    padding-top: 50px;
    border: 2px solid white;
    margin: 0 auto;
    width: 50vw;
    min-height: 80vh;
    text-align: center;
}
.label{
    font-size: 20px;
    color: white;
}
.label3{
    font-size: 20px;
    color: white;
    line-height: 300%;
}
.newPost input[type=text] {
    height: 25px;
    width: 270px;
    margin: 10px;
    padding: 5px;
    font-size: 17px;
    border: 2px solid rgb(29, 112, 50);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.6);
}
.newPost textarea {
    width: 350px;
    min-height: 200px;
    margin: 10px;
    padding: 5px;
    font-size: 17px;
    border: 2px solid rgb(29, 112, 50);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.6);
}
.newPost input:focus{
    border: 2px solid rgb(177, 31, 31);
    cursor: pointer;
}
.addNewPost{
    margin: 30px;
    width: 150px;
    height: 30px;
    font-size: 16px;
    border: 2px solid rgb(29, 112, 50);
    border-radius: 3px;
    float: inherit;
    white-space: 2px;
    color: rgba(255, 255, 255, 0.8);
    background-color:transparent;
    transition: .3s;
}
.addNewPost:hover{
    color: rgb(177, 31, 31);
    cursor: pointer;
}

.back{
    margin: 30px;
    width: 120px;
    height: 30px;
    font-size: 16px;
    border: 2px solid rgb(29, 112, 50);
    border-radius: 3px;
    float: inherit;
    white-space: 2px;
    color: rgba(255, 255, 255, 0.8);
    background-color:transparent;
    transition: .3s;
}
.back:hover{
    color: rgb(177, 31, 31);
    cursor: pointer;
}
.postX {
    float: right;
    color: rgb(177, 31, 31);
    font-weight: bold;
    border: 2px solid  rgb(224, 26, 26);
    border-radius: 50%;
    padding: 7px;
}
.postX:hover{
    transform: scale(1.5);
    border: 4px solid  rgb(224, 26, 26);
    cursor: pointer;
}
.comment{
    box-sizing: border-box;
    width: 500px;
    margin: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 2px solid rgb(177, 31, 31);
}
.comment .nick{
    font-size: 18px;
    font-weight: bold;
    color: rgb(177, 31, 31);
    padding-bottom: 10px;
}
.comment .content{
    border: 2px solid rgb(29, 112, 50);
    padding: 10px;
    color: black;
    background-color: rgba(255, 255, 255, 0.6);

}
.addComment {
    box-sizing: border-box;
    width: 500px;
    margin-left: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 2px solid white;
    font-size: 18px;
}
.addComment label{
    display: block;
    margin-bottom: 10px;
    color: white;
}
.addComment input{
    padding: 5px;
    margin-left: 10px;
    border: 2px solid rgb(29, 112, 50);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.6);
}
.addComment textarea{
    padding: 5px;
    margin-left: 10px;
    width: 340px;
    height: 90px;
    display: flex;
    margin: 10px;
    border: 2px solid rgb(29, 112, 50);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.6);

}
.addComment button{
    font-size: 18px;
    width: 180px;
    height: 35px;
    color: rgba(255, 255, 255, 0.8);
    background-color: transparent;
}
.addComment button:hover{
    color: rgb(177, 31, 31);
    border: 2px solid rgb(177, 31, 31);
    cursor: pointer;  
}
